body {
    background-color: black;


}

.tituloPrincipal{
    color: white;
    text-align: center;
    padding: 4em;
}


.slide img{
    height: 65vh;
}


h1 {
    padding: 1em;
}

a{
    text-align: center;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 100px;

}

a :hover{
    color: blueviolet;
}